{% extends "nav.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content %}

  

    <div class="baken_selector">
        <form method="post" action="/">
            <label for="opties">selecteer bakenid:</label>
            <select name="devices" id="devices">
                {% for id in ids %}
                <p>{{id}}</p>
                <option value={{ id }}>{{ id }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Update">
        </form>
    </div>  

        {% include 'device.html' %}
    <div class="all_devices">
        {% include 'alldevices.html' %}
    </div>
    {% endblock %}
</body>
</html>